<div class="col-md-2" style="padding:0px;margin-right:0px;margin-top:0px;margin-bottom:0px;" >
	<div class="panel panel-default">
	 <div class="panel-heading">
	 <h4 ><strong>创意工坊热门板块</strong></h4>
	 </div>
	 <div >
	  <a target= _blank href="http://www.kyhd.net/index.php/shopping/zones/show99/p/0.html"><img width=100% src="__PUBLIC__/img/loveshop/9_9.gif"></a>
	 </div>
	 <div >
	  <a target= _blank href="http://www.kyhd.net/index.php/shopping/zones/showother/z_sort/2.html"><img width=100%  src="__PUBLIC__/img/loveshop/season.gif"></a>
	 </div>
	 <div >
	  <a target= _blank href="http://www.kyhd.net/index.php/shopping/zones/showother/z_sort/3.html" ><img width=100%  src="__PUBLIC__/img/loveshop/film.gif"></a>
	 </div>
	</div>
</div>