<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wb="http://open.weibo.com/wb" lang="zh-CN"> 
  <head>
    <title> 酷影网www.kyhd.net</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="高清,1080p,720p,蓝光，爱微淘">
    <meta name="author" content="酷影网">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="__PUBLIC__/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/bootstrap/css/cas_style.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="__PUBLIC__/bootstrap/js/check.js"></script>
  </head>
  <style>
  	hr
  	{
  		margin-top: -4px;
  		margin-bottom:0px;
  	}
  	p
  	{
  		
			line-height: 24px;
			color: #2b2b2b;
			padding: 0px 5px 5px 5px;
			word-wrap: break-word;
  	}
  	.jumbotron p {
			font-size: 14px;
		}
  	
  </style>
  <body style=" FONT-FAMILY: 微软雅黑">
    <!--NAV-->
    <include file="./Application/Home/View/public/header.html" />
		<!--NAV END-->
    <div class="jumbotron visible-lg visible-md visible-sm visible-xs" style="margin-top:100px;margin-bottom:0px;padding:0px;background-color:white;" >
    	<div class="container" style="padding:0px;margin-top:0px;margin-bottom:0px;">
      	<!--left-->
      	<div class="col-md-9" style="padding-left:5px;margin-left:0px;" >	
      		<!--BT TOP -->
	        	<div class="row" style="padding:8px;margin-left:0px;background-color:#fafafa;">	
	        		<div class="col-md-12" style="padding:5px;" >	
	        		     <div class="col-md-5" style="padding:5px;" >	
	        		     	<img src="__PUBLIC__/img/tools/p_top.gif"> 
	        		     </div>  	
	        		     <div class="col-md-7" style="padding:0px;" >	
		        		     	<div class="row">
		        		     		<h3 class="text-primary">好用的播放器推荐</h3>
		        		     		<p> 如今用户对视频质量的要求越来越高，1080p的Full HD(全高清)标准也越来越普及，一款普通的视频播放器可能已经满足不了大家对享受顶级高清画质的追求了，酷影网特别收集了好用的高清播放器，想必很多发烧友用户也想知道高清播放器哪个好用吧？下面就一起来关注一下吧~！</p>
		        		     	<hr>
		        		     	</div> 
	        		     </div>
	        		</div>
	        		
      				<div class="col-md-3">
				          <div class="thumbnail" style="height:390px;">
				            <img src="__PUBLIC__/img/tools/sp.gif" style="width:100%;">
				              <h4 class="text-primary"><strong>&nbspKMPlayer&nbsp</strong><small>7.9M</small></h4>
				              <p class="small text-warning ">[推荐理由]:射手影音播放器是由射手网创建与维护的开源播放器项目。加入更多真正符合中国用户习惯的功能，建立和维护一个真正属于中文用户的开源播放器。</p>
				              <a class="btn btn-primary center" href="http://pan.baidu.com/s/1dD8gbap"  target="_blank">下载地址</a>
				          </div>
				       </div>
      		     <div class="col-md-3">
				          <div class="thumbnail" style="height:390px;">
				            <img src="__PUBLIC__/img/tools/wmj.gif" style="width:100%;">
				              <h4 class="text-primary"><strong>&nbsp完美解码&nbsp</strong><small>71.7M</small></h4>
				              <p class="small text-warning ">[推荐理由]:完美解码是一款能实现各种流行视频音频完美回放及编码的全能型影音解码包，是视频播放/编码爱好者的首选</p>
				              <div style=" position:absolute;bottom:40px;"><a class="btn btn-primary center"  href="http://pan.baidu.com/s/1ntrAH5J"  target="_blank">下载地址</a></div>
				          </div>
				       </div> 
				       <div class="col-md-3">
				          <div class="thumbnail" style="height:390px;">
				            <img src="__PUBLIC__/img/tools/kmp.gif" style="width:100%;">
				              <h4 class="text-primary"><strong>&nbspKMPlayer&nbsp</strong><small>31.3M</small></h4>
				              <p class="small text-warning ">[推荐理由]:KMPlayer-来自韩国的影音全能播放器，支持中文，KMPlayer支持几乎全部音视频格式，主流视频包</p>
				              <div style=" position:absolute;bottom:40px;"><a class="btn btn-primary center" href="http://pan.baidu.com/s/1qWyWh3I"  target="_blank">下载地址</a></div>
				          </div>
				       </div>
				       <div class="col-md-3">
				          <div class="thumbnail" style="height:390px;">
				            <img src="__PUBLIC__/img/tools/bf.gif" style="width:100%;">
				              <h4 class="text-primary"><strong>&nbsp暴风影音&nbsp</strong><small>35.5M</small></h4>
				              <p class="small text-warning ">[推荐理由]:暴风影音2014官方最新版，万能播放服务升级，提供720P真高清视频，安装速度更快</p>
				              <div style=" position:absolute;bottom:40px;"><a class="btn btn-primary center" href="http://home.baofeng.com/"  target="_blank">下载地址</a></div>
				          </div>
				       </div>
				       <div class="col-md-3">
				          <div class="thumbnail" style="height:390px;">
				            <img src="__PUBLIC__/img/tools/PW.gif" style="width:100%;">
				              <h4 class="text-primary"><strong>&nbspPOWERDVD&nbsp</strong></h4>
				              <p class="small text-warning ">[推荐理由]:PowerDVD支持蓝光电影、3D蓝光电影、DVD视频、大多数视频格式文件、音乐文件，可以将2D电影转换为3D电影来观看！</p>
				              <div style=" position:absolute;bottom:40px;"><a class="btn btn-primary center" href="http://pan.baidu.com/s/1kTl9ixL"  target="_blank">下载地址</a></div>
				          </div>
				       </div>
				       <div class="col-md-3">
				          <div class="thumbnail" style="height:390px;">
				            <img src="__PUBLIC__/img/tools/thunp.gif" style="width:100%;">
				              <h4 class="text-primary"><strong>&nbsp迅雷看看&nbsp</strong><small>45M</small></h4>
				              <p class="small text-warning ">[推荐理由]:本地全格式播放，全协议（http、ftp、BT、电驴等）支持的边下边播。依托迅雷强大下载技术，使您能够完全流畅地享受高清影视内容。</p>
				              <div style=" position:absolute;bottom:40px;"><a class="btn btn-primary center" href="http://dl.xunlei.com/xmp.html"  target="_blank">下载地址</a></div>
				          </div>
				       </div>
				       <div class="col-md-3">
				          <div class="thumbnail" style="height:390px;">
				            <img src="__PUBLIC__/img/tools/qq.gif" style="width:100%;">
				              <h4 class="text-primary"><strong>&nbspQQ影音&nbsp</strong><small>26.3M</small></h4>
				              <p class="small text-warning ">[推荐理由]:QQ影音首创轻量级多播放内核技术，深入挖掘和发挥新一代显卡的硬件加速能力，软件追求更小、更快、更流畅的视听享受。</p>
				              <div style=" position:absolute;bottom:40px;"><a class="btn btn-primary center" href="http://player.qq.com/"  target="_blank">下载地址</a></div>
				          </div>
				       </div>
				       <div class="col-md-3">
				          <div class="thumbnail" style="height:390px;">
				            <img src="__PUBLIC__/img/tools/thunp.gif" style="width:100%;">
				              <h4 class="text-primary"><strong>&nbspWINDVD&nbsp</strong><small>101M</small></h4>
				              <p class="small text-warning ">[推荐理由]:全球首屈一指的 DVD 和 Blu-ray 播放器软件！可以让您的家瞬间变成影院.WinDVD采用了新开发的高抽样频率技术，能够抑制视频的衰退，加入了分辨率扩展的技术。</p>
				              <div style=" position:absolute;bottom:40px;"><a class="btn btn-primary center" href="http://pan.baidu.com/s/1eQ6Ifw2"  target="_blank">下载地址</a></div>
				          </div>
				       </div>

	        		     
	       		</div>
      	</div>	
      <!--right-->
      	<include file="./Application/Home/View/public/hdbd/showlistright.html" />
			</div>	
      <!--right END-->	
      <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧"></a><a href="#" class="bds_douban" data-cmd="douban" title="分享到豆瓣网"></a></div>
			<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"image":{"viewList":["weixin","qzone","tsina","renren","tieba","douban"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["weixin","qzone","tsina","renren","tieba","douban"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>   
      <br>  
    </div>
    <include file="./Application/Home/View/public/bottom.html" />
		<!-- 回到顶部 -->
		<include file="./Application/Home/View/public/re_top.html" />
    <!-- 回到顶部 -->
<div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧"></a><a href="#" class="bds_douban" data-cmd="douban" title="分享到豆瓣网"></a></div>
<script type="text/javascript" src="__PUBLIC__/bootstrap/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"image":{"viewList":["weixin","qzone","tsina","renren","tieba","douban"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["weixin","qzone","tsina","renren","tieba","douban"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
   
  </body>
	
</html> 
