<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wb="http://open.weibo.com/wb" lang="zh-CN">
  <head>
    <title>酷影网www.kyhd.net</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="高清,1080p,720p,蓝光，爱微淘">
    <meta name="author" content="酷影网">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="__PUBLIC__/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/bootstrap/css/cas_style.css" rel="stylesheet" type="text/css">
  </head>
  <body style=" FONT-FAMILY: 微软雅黑">
    <!--NAV-->
    <include file="./Application/Home/View/public/header.html" />
		<!--NAV END-->
    <div class="jumbotron visible-lg visible-md visible-sm visible-xs" style="margin-top:50px;margin-bottom:0px;padding:0px;background-color:white;"    draggable="true">
    	<div class="container" style="padding:0px;margin-top:0px;margin-bottom:0px;" >
    		<!--left-->
      	<div class="col-md-9" style="padding-left:5px;margin-left:0px;" >
      		<!--bt-->
      		<h4 color="#fafafa"><img src="__PUBLIC__/img/icon/person.gif"><strong >&nbsp会员福利</strong><small> 仔细看看吧!</small></h4>
      		<!--BT start -->
	      	<div class="row" style="padding:0px;margin-left:0px;background-color:#fafafa;" >
	      		<div class="panel panel-primary">
					   <div class="panel-heading">
					      <h3 class="panel-title">获赠积分和礼物</h3>
					   </div>
					   <div class="panel-body">
					     <h4>1. 注册会员即可获赠30个积分</h4> 
					     <h4>2. 注册会员每天签到即可获赠5个积分</h4> 
					     <h4>3. 会员可以参加每天最多三次的抽奖活动获取积分等礼物</h4> 
					     <h4>4. 网站不定期会通过微信公众平台等向会员发放电影票等礼物哦</h4> 
					   </div>
						</div>
						<div class="panel panel-primary">
					   <div class="panel-heading">
					      <h3 class="panel-title">下载资源</h3>
					   </div>
					   <div class="panel-body">
					     <h4>1. 会员才能下载酷影网的资源</h4> 
					     <h4>2. 会员才能参与抽奖及签到等网站活动</h4> 
					   </div>
						</div>
						<div class="panel panel-primary">
					   <div class="panel-heading">
					      <h3 class="panel-title">购买积分</h3>
					   </div>
					   <div class="panel-body">
					     <h4>· 会员如果实在太懒没有积分，通过支付宝也可以获取积分哦</h4> 
					     <h4>· 积分售价： </h5> 
					     <h5>————————10元= 50个积分 </h5> 
					     <h5>————————20元= 110个积分 </h5> 
					     <h5>————————30元= 170个积分 </h5> 
					     <h5>————————50元= 290个积分 </h5>
					     <h5>————————100元= 600个积分 </h5>
					     <h4>· 付款方法：联系站长QQ：1448474396，站长确认后会提供网站的支付宝账号！</h5> 
					   </div>
						</div>
						<div class="panel panel-primary">
					   <div class="panel-heading">
					      <h3 class="panel-title">其它福利</h3>
					   </div>
					   <div class="panel-body">
					     <h4>1. 网站运营成熟后，会采用邀请码注册制度，会员能够免费获赠邀请码</h4> 
					     <h4>2. 其它福利会及时补充</h5> 
					   </div>
						</div>
	        </div>
      	</div>
      	
      <!--right-->
	      <include file="./Application/Home/View/public/BTzone/listright.html" />
    	</div> 	
    </div>
    <include file="./Application/Home/View/public/bottom.html" />
		<!-- 回到顶部 -->
		<include file="./Application/Home/View/public/re_top.html" />
    <!-- 回到顶部 -->
  </body>
	  <script type="text/javascript" src="__PUBLIC__/bootstrap/js/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/bootstrap/js/manager.js"></script>
    <script type="text/javascript" src="__PUBLIC__/bootstrap/js/MSClass.js"></script>
    <script>
    	$(document).ready(function(){
		  	$("#l4").addClass("active");
		  });
    </script>
</html> 