<!--查询条件-->
<div class="pageHeader">
	<form id="pagerForm" action="__URL__" method="post" onsubmit="return navTabSearch(this)">
    	<div class="searchBar">
        	<ul class="searchContent">
                <li style="width:300px;">
                    <label>商品分类名称：</label>
                    <select name="cat_id">
                    	<option value="0" <if condition="$Think.request.cat_id eq 0">selected</if>>无</option>
                        <volist name="categorylist" id="vocategory">
                            <option value="{$vocategory.id}" <if condition="$vocategory.id eq $cat_id">selected</if>>{$vocategory.cat_name}</option>
                        </volist>
                    </select>
                </li>
            	<li style="width:300px;">
                	<label>楼层分类名称：</label>
                    <select name="floor_id" style="width:130px;">
                    	<option value="0" <if condition="$Think.request.floor_id eq 0">selected</if>>无</option>
                    	<volist name="floorlist" id="vofloor">
                    		<option value="{$vofloor.id}" <if condition="$vofloor.id eq $floor_id">selected</if>>{$vofloor.name}</option>
                        </volist>
                    </select>
                </li>
            	<li>
                	<label>广告位置：</label>
                    <select name="ad_position">
                    	<option value="1" <if condition="$Think.request.ad_position eq 1">selected</if>>首页分类导航</option>
                        <option value="2" <if condition="$Think.request.ad_position eq 2">selected</if>>首页幻灯片</option>
                        <option value="3" <if condition="$Think.request.ad_position eq 3">selected</if>>滚动幻灯片</option>
                        <option value="4" <if condition="$Think.request.ad_position eq 4">selected</if>>首页右侧随机广告</option>
                        <option value="5" <if condition="$Think.request.ad_position eq 5">selected</if>>楼层左侧</option>
                        <option value="6" <if condition="$Think.request.ad_position eq 6">selected</if>>楼层中上</option>
                        <option value="7" <if condition="$Think.request.ad_position eq 7">selected</if>>楼层中下</option>
                        <option value="8" <if condition="$Think.request.ad_position eq 8">selected</if>>楼层右侧</option>
                    </select>
                </li>
            </ul>
            <div class="subBar">
            	<ul>
                	<li>
                    	<div class="buttonActive">
                        	<div class="buttonContent">
                            	<button type="submit">查询</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>

<div class="pageContent">
    <!--操作按钮-->
    <div class="panelBar">
    	<ul class="toolBar">
        	<li><a class="add" href="__URL__/add/navTabId/{$Think.CONTROLLER_NAME|strtolower}_{$Think.ACTION_NAME|strtolower}" target="dialog" rel="ad_add" mask="true" maxable="false" width="580" height="450"><span>新增</span></a></li>
            <li><a class="delete" href="__URL__/foreverdelete/navTabId/{$Think.CONTROLLER_NAME|strtolower}_{$Think.ACTION_NAME|strtolower}" posttype="string" rel="id" target="selectedTodo" title="确定要删除选中的记录吗？" warn="请至少选择一位用户"><span>删除</span></a></li>
            <li><a class="edit" href="__URL__/edit/id/{sid_user}" target="dialog" mask="true" warn="请选择一条记录" width="580" height="450" rel="ad_edit"><span>编辑</span></a></li>
        </ul>
    </div>
    <!--操作按钮结束-->

    <!--数据显示-->
    <table class="list" width="100%" layoutH="115">
    	<thead>
        	<tr>
            	<th width="10%"><input type="checkbox" group="id" class="checkboxCtrl" /></th>
                <th width="10%">编号</th>
                <th width="25%">广告名称</th>
                <th width="20%">图片</th>
                <th width="20%">链接</th>
                <th width="15%">排序</th>
            </tr>
        </thead>
        <tbody>
        	<volist id="vo" name="adlist">
                <tr target="sid_user" rel="{$vo['id']}">
                    <td><input type="checkbox" name="id" value="{$vo['id']}" /></td>
                    <td>{$vo['id']}</td>
                    <td style="text-align:left;">{$vo['ad_name']}</td>
                    <td><if condition="$vo['ad_img'] neq ''"><img src="__UPLOAD__{$vo['ad_img']}" width="50" height="50" /></if></td>
                    <td style="text-align:left;">{$vo['ad_link']}</td>
                    <td>{$vo['ad_sort']}</td>
                </tr>
            </volist>
        </tbody>
    </table>
    <!--数据显示结束-->
</div>