<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wb="http://open.weibo.com/wb" lang="zh-CN">
  <head>
    <title>酷影网www.kyhd.net</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="高清,1080p,720p,蓝光,3D,爱微淘">
    <meta name="author" content="酷影网">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="__PUBLIC__/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/bootstrap/css/cas_style.css" rel="stylesheet" type="text/css">
  </head>
  <style>
  </style>
  <body style=" FONT-FAMILY: 微软雅黑">
    <!--NAV-->
    <include file="./Application/Home/View/public/header.html" />
		<!--NAV END-->
    <div class="jumbotron visible-lg visible-md visible-sm visible-xs" style="margin-top:50px;margin-bottom:0px;padding:0px;background-color:white;"    draggable="true">
    	<div class="container" style="padding:0px;margin-top:0px;margin-bottom:0px;" >
    		<!--left-->
      	<div class="col-md-9" style="padding-left:5px;margin-left:0px;" >
      		<!--bt-->
      		<h4 color="#fafafa"><img src="__PUBLIC__/img/icon/hd.gif"><strong >&nbspBT共享区</strong><small> 践行互联网精神高清/1080p/720p/BD/美剧...发掘，提供，分享 we do it~</small></h4>
      		<!--BT start -->
	      	<div class="row" style="padding:0px;margin-left:0px;background-color:#fafafa;" >
	        	
		        	<div class="col-md-12"  style="padding:8px;padding-bottom:0px;margin-left:0px;">
	          		<div class="thumbnail" >
			            <div class="caption" >
			              <span class="glyphicon glyphicon-sort-by-attributes-alt" ></span><font size=4px> 高清电影BT下载</font><br> 
			              <strong ><span class="label label-primary">Hot</span>&nbsp&nbsp<a href="{:U('Index/showHDList?type=1600&p=1');}"> 1080pBT分享专区</a></strong><br>
			              <div style="border-bottom:1px solid #999;margin-bottom:6px; "></div>
			              <strong><span class="label label-warning">Hot</span>&nbsp&nbsp<a href="{:U('Index/showHDList?type=1700&p=1');}"> 720pBT分享专区</a></strong><br>
			              <div style="border-bottom:1px solid #999;margin-bottom:6px; "></div>
			              <strong><span class="label label-primary"> RD </span>&nbsp&nbsp<a href="{:U('Index/showHDList?type=1900&p=1');}"> REMUX/原盘BT分享专区</a></strong><br> 
			              <div style="border-bottom:1px solid #999;margin-bottom:6px; "></div>
			              <strong><span class="label label-warning"> CD </span>&nbsp&nbsp<a href="{:U('Index/showHDList?type=2000&p=1');}"> 高清合集BT分享专区</a></strong><br> 
			              <div style="border-bottom:1px solid #999;margin-bottom:6px; "></div>
			              <strong><span class="label label-primary">Hot</span>&nbsp&nbsp<a href="{:U('Index/showHDList?type=1800&p=1');}"> 百度/360网盘分享专区</a></strong><br>
			              <div style="border-bottom:1px solid #999;margin-bottom:6px; "></div>
			              <strong><span class="label label-warning"> VD </span>&nbsp&nbsp<a href="{:U('Index/showHDList?type=2100&p=1');}"> 高清记录片BT分享专区</a></strong><br> 
			              <div style="border-bottom:1px solid #999;margin-bottom:6px; "></div>
			              <strong><span class="label label-primary">3D </span>&nbsp&nbsp<a href="{:U('Index/showHDList?type=2200&p=1');}"> 3D高清电影BT分享专区</a></strong><br>
			              <div style="border-bottom:1px solid #999;margin-bottom:6px; "></div>
			            </div>
	          		</div>	
	        		</div>
	        		<div class="col-md-12"  style="padding:8px;padding-bottom:0px;margin-left:0px;">
	          		<div class="thumbnail" >
            
			            <div class="caption" >
			              <span class="glyphicon glyphicon-sort-by-attributes-alt" ></span><font size=4px> 高清综艺分享专区</font><br>
			              <strong ><span class="label label-primary">1</span>&nbsp&nbsp<a href="{:U('Index/showZYList?type=100&p=1');}"> 韩国高清综艺分享专区</a></strong><br>
			              <div style="border-bottom:1px solid #999;margin-bottom:8px; "></div>
			              <strong><span class="label label-warning">2</span>&nbsp&nbsp<a href="{:U('Index/showZYList?type=200&p=1');}"> 小日本高清综艺分享专区</a></strong><br>
			              <div style="border-bottom:1px solid #999;margin-bottom:8px; "></div>
			              <strong><span class="label label-primary">3</span>&nbsp&nbsp<a href="{:U('Index/showZYList?type=300&p=1');}"> 大中华高清综艺分享专区</a></strong><br> 
			              <div style="border-bottom:1px solid #999;margin-bottom:8px; "></div>
			              <strong><span class="label label-primary">4</span>&nbsp&nbsp<a href="{:U('Index/showZYList?type=400&p=1');}"> 欧美高清综艺分享区</a></strong><br> 
			              <div style="border-bottom:1px solid #999;margin-bottom:8px; "></div>
			              <strong><span class="label label-primary">5</span>&nbsp&nbsp<a href="{:U('Index/showZYList?type=500&p=1');}"> 演唱会/MV/运动体育分享区</a></strong><br> 
			              <div style="border-bottom:1px solid #999;margin-bottom:8px; "></div>
			              <strong><span class="label label-primary">6</span>&nbsp&nbsp<a href="{:U('Index/showZYList?type=600&p=1');}"> 动漫高清分享区</a></strong><br> 
			              <div style="border-bottom:1px solid #999;margin-bottom:8px; "></div>
			            </div>
			          </div>	
	        		
	          	</div>
	          	
	        		<div class="col-md-12"  style="padding:8px;padding-top:0px;padding-bottom:0px;margin-left:0px;">
	          		<div class="thumbnail" >
			            <div class="caption" >
			              <span class="glyphicon glyphicon-sort-by-attributes-alt" ></span><font size=4px> 小容量电影专区</font><br>
			              <strong ><span class="label label-primary">1</span>&nbsp&nbsp<a href="{:U('Index/showBDList?type=1200&p=1');}"> BD高清电影下载</a></strong><br>
			              <div style="border-bottom:1px solid #999;margin-bottom:8px; "></div>
			              <strong><span class="label label-warning">2</span>&nbsp&nbsp<a href="{:U('Index/showBDList?type=1100&p=1');}"> iPad/MP4电影下载区</a></strong><br>
			              <div style="border-bottom:1px solid #999;margin-bottom:8px; "></div>
			              <strong><span class="label label-primary">3</span>&nbsp&nbsp<a href="{:U('Index/showBDList?type=1000&p=1');}"> 迅雷MKV</a></strong><br> 
			              <div style="border-bottom:1px solid #999;margin-bottom:8px; "></div>
			              <strong><span class="label label-warning">4</span>&nbsp&nbsp<a href="{:U('Index/showBDList?type=900&p=1');}"> 亚洲电影下载区</a></strong><br> 
			              <div style="border-bottom:1px solid #999;margin-bottom:8px; "></div>
			              <strong><span class="label label-primary">5</span>&nbsp&nbsp<a href="{:U('Index/showBDList?type=800&p=1');}"> 欧美电影下载区</a></strong><br> 
			              <div style="border-bottom:1px solid #999;margin-bottom:8px; "></div>
			            </div>
          			</div>	
	        		
	          	</div> 
	          	<div class="col-md-12"  style="padding:8px;padding-top:0px;padding-bottom:0px;margin-left:0px;">
	          		<div class="thumbnail" >
			            <div class="caption" >
			              <span class="glyphicon glyphicon-sort-by-attributes-alt" ></span><font size=4px> 高清连续剧区</font><br>
			              <strong><span class="label label-warning">1</span>&nbsp&nbsp<a href="{:U('Index/showJuList?type=3300&p=1');}"> 电视剧下载专区</a></strong><br>
			              <div style="border-bottom:1px solid #999;margin-bottom:4px; "></div>
			              <br> 
			              <strong><span class="label label-primary">2</span>&nbsp&nbsp<a href="{:U('Index/showJuList?type=3400&p=1');}"> 美剧下载专区</a></strong><br> 
			              <div style="border-bottom:1px solid #999;margin-bottom:4px; "></div>
			              <br> 
			            </div>
			          </div>
	        		</div>
	        </div>
      	</div>
      	
      <!--right-->
	      <include file="./Application/Home/View/public/BTzone/listright.html" />
    	</div>
    	<br> 	
    </div>
    <include file="./Application/Home/View/public/bottom.html" />
		<!-- 回到顶部 -->
		<include file="./Application/Home/View/public/re_top.html" />
    <!-- 回到顶部 -->
  </body>
    <script type="text/javascript" src="__PUBLIC__/bootstrap/js/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/bootstrap/js/manager.js"></script>
    <script type="text/javascript" src="__PUBLIC__/bootstrap/js/MSClass.js"></script>
		<script>
			$(document).ready(function(){
			$("#l2").addClass("active")
			}); 
		</script>
</html> 